<ion-header>

  <ion-navbar color="AyoDermawan">
    <ion-title text-center>AyoDermawan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  
    <img src="assets/pict/Profil.png" *ngIf="!image" class="Pict" (click)="updatePicture()"/>
    <img [src]="image" *ngIf="image" class="Pict" (click)="updatePicture()"/>


  <ion-item padding-right text-wrap>
    <p class="Nama">{{name_donatur}}</p>
  </ion-item>

  <ion-item padding-right text-wrap>
	  <ion-icon name="mail" item-left class="IconMail"></ion-icon>
	  <p class="Head">Email</p>
	  <p class="Konten">{{email_donatur}}</p>
	</ion-item>
  <ion-item padding-right text-wrap>
	  <ion-icon name="call" item-left class="Icon"></ion-icon>
	  <p class="Head">Nomor Telepon</p>
	  <p class="Konten">{{telephone_donatur}}</p>
	</ion-item>
  <ion-item padding-right text-wrap>
	  <ion-icon name="md-map" item-left class="Icon"></ion-icon>
	  <p class="Head">Alamat</p>
	  <p class="Konten">{{address_donatur}}</p>
	</ion-item>

  <ion-item padding-left-right>
    <button class='Button' color="AyoDermawan" ion-button block (click)='editProfil()'><p class="ButtonWordWhite">Sunting Profil</p></button>
    <button class='Button' color="danger" ion-button outline block (click)='logOut()'><p class="ButtonWordBlack">Keluar Akun</p></button>
  </ion-item>

</ion-content>
