page-donatur-signup {
    .Head {
        font-size: 6vw;
        color:  #202020;
    }

    .Head2 {
        font-size: 5vw;
        color:  gray;
    }

    .Warning {
        font-size: 5vw;
        color: #f53d3d;
    }

    .Button {
        height: 8vw !important;
        width: 100%;
        margin-top: 3vw; 
    }

    .ButtonWord {
        font-size: 6vw;
        font-weight: 2px;
        color: white;
    }
}
