<ion-header>
  <ion-toolbar no-border-top color="AyoDermawan" class="Toolbar">
    <ion-segment  [(ngModel)]="notifikasi">
      <ion-segment-button color="light" value="tertunda" (tap)="tapEvent1($event)">
        <div class="Header">Tertunda</div>
      </ion-segment-button>
      <ion-segment-button value="pemberitahuan" (tap)="tapEvent2($event)">
        <div class="Header">Pemberitahuan</div>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
<div (swipe)="swipeEvent($event)">

  <div [ngSwitch]="notifikasi">
    <ion-list *ngSwitchCase="'tertunda'">
    
      <ion-item *ngFor="let data of list" text-wrap>
        <ion-thumbnail item-left>
          <img src="assets/pict/BarangBiru.png" *ngIf="!data.image1" class="Gambar"/>
          <img [src]="data.image1" *ngIf="data.image1" class="Gambar"/>
        </ion-thumbnail>
        <ion-row>
          <ion-col col-9>
            <p class="Head">{{data.nama}}</p>
            <p class="Konten">{{data.keterangan}}</p>
          </ion-col>
          <ion-col col-3>
            <button class="Button" ion-button small color="AyoDermawan" (click)="masuk(data)" block><p class="ButtonWord">Lihat</p></button>
          </ion-col>
        </ion-row>
      </ion-item>      

      
      <button class="ButtonIllution" clear ion-button block></button>
      

    </ion-list>

    <ion-list *ngSwitchCase="'pemberitahuan'">
      
      <ion-item *ngFor="let data of list" text-wrap>
        <ion-thumbnail item-left>
          <img src="assets/pict/BarangBiru.png" *ngIf="!data.image1" class="Gambar"/>
          <img [src]="data.image1" *ngIf="data.image1" class="Gambar"/>        </ion-thumbnail>
        <ion-row>
          <ion-col col-9>
            <p class="Head">{{data.nama}}</p>
            <p class="Konten">{{data.keterangan}}</p>
          </ion-col>
          <ion-col col-3>
            <button class="Button" ion-button small color="AyoDermawan" (click)="masuk(data)" block><p class="ButtonWord">Lihat</p></button>
          </ion-col>
        </ion-row>
      </ion-item>

      <button class="ButtonIllution" clear ion-button block></button>

    </ion-list>
  </div>

</div>  
</ion-content>