page-donatur-notifikasi {

    .item-md {
        padding-left: 0px;
        padding-right:0px;
    }

    .card-md{
        margin:0px;
        border-radius:0px;
        width: 100%;
        height: 100%;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0)
    }

    .Head {
        font-size: 5vw;
        color: #202020
    }
    .Konten {
        font-size: 4.5vw;
        color: gray;
    }

    .item ion-thumbnail {
    img {
        width: 20vw;    
        height: 20vw;
        }
    }

    .Button {
        position: relative;
        top: 10%;

        height: 8vw !important;
        width: 110%;
    }
    .ButtonIllution {
        width: 100%;
        height: 100vh;
        color: rgba(0,0,0,0);
    } 

    .ButtonWord {
        font-size : 4vw;
        color: white;
    }


    .Header {
            color: white;
            font-size: 18px;
        }

        .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
            border-color: white;
            opacity: 1;
        }

		.Logo {
				display: block;
    		margin: auto;
    		height: 25vw; 
        width: 55vw; 

				position: relative;
    		top: 10vw; 
		}
		
		.Konten1 {
			margin-top: 10vw;
		}

		.Head2 {
				margin-left: 10vw;
        font-size: 5vw;
				color: #9b9b9b; //warna abu ionic
    }

		.Head3 {
				// margin-left: 9vw;
        font-size: 4.5vw;
				color: #9b9b9b; //warna abu ionic
    }

    .Warning {
        font-size: 5vw;
        color: #f53d3d;
    }

}
