page-donatur-profil-edit {
    .Head {
        font-size: 6vw;
        color:  #202020;
    }

    .Head2 {
        font-size: 5vw;
        color:  gray;
    }

    .Warning {
        font-size: 5vw;
    }

    .Button {
        height: 10vw !important;
        width: 100%;
        margin-top: 3vw; 
    }

    .ButtonWord {
        font-size: 6vw;
        font-weight: 2px;
        color: white;
    }
}
