<ion-header>

  <ion-navbar color="AyoDermawan">
    <ion-title>Donasi Lelang</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <img src="assets/pict/Lelang.png" class='Logo'>

      <form #lelangForm="ngForm" novalidate>

        <ion-item class="Konten1">
          <ion-label floating><p class="Head">Nama</p></ion-label>
          <ion-input class="Head2" [(ngModel)]="name" name="name" type="text" #nama="ngModel" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
        
        <p class="Warning" ion-text [hidden]="nama.valid || submitted == false" color="danger" padding-left>
          Nama barang harus diisi
        </p>

        <ion-item text-wrap>
          <ion-label><p class="Head">Harga Awal</p></ion-label>
          <ion-input class="Head2" [(ngModel)]="price" pattern="[0-9]{1,}" minlength="5" name="price" type="text" #harga="ngModel" placeholder="Dalam Rupiah" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
        

        <p class="Warning" ion-text [hidden]="harga.valid || submitted == false" color="danger" padding-left>
          Harga awal harus diisi
        </p>

        <ion-item>
          <ion-label><p class="Head">Kategori</p></ion-label>
          <ion-select [(ngModel)]="kategori" name="kategori" (ionChange)="cekKategori()" type="text" [ngModelOptions]="{standalone: true}" class="Head2">
            <ion-option value="Kategori1">Kategori1</ion-option>
            <ion-option value="Kategori2">Kategori2</ion-option>
            <ion-option value="Kategori3">Kategori3</ion-option>
            <ion-option value="Kategori4">Kategori4</ion-option>
            <ion-option value="Kategori5">Kategori5</ion-option>
          </ion-select>
        </ion-item>

        <p class="Warning" ion-text [hidden]="kategori || submitted == false" color="danger" padding-left>
          Pilih satu
        </p>

        <ion-item>  <!-- nanti valuenya id dari lembaganya yaa, jangan namanya.. tapi teksnya nama lembaga-->
          <ion-label><p class="Head">Lembaga</p></ion-label>
          <ion-select [(ngModel)]="lembaga_barang" name="lembaga_barang" (ionChange)="cekLembagaBarang()" type="text" [ngModelOptions]="{standalone: true}" class="Head2">
            <ion-option *ngFor="let data of lembaga" [value]="data.id">{{data.name}}</ion-option>
            <!--<ion-option value="LFa28pnhlmfqpRMP8IMyTeHaIwB3">pilih yg ini lembaganya</ion-option>
            <ion-option value="Lembaga2">Lembaga2</ion-option>
            <ion-option value="Lembaga3">Lembaga3</ion-option>
            <ion-option value="Lembaga4">Lembaga4</ion-option>
            <ion-option value="Lembaga5">Lembaga5</ion-option>-->
          </ion-select>
        </ion-item>

        <p class="Warning" ion-text [hidden]="lembaga_barang || submitted == false" color="danger" padding-left>
          Pilih satu
        </p>

        <ion-item no-lines>
          <ion-label><p class="Head">Alamat Pengambilan</p></ion-label>
        </ion-item>
        <!--<ion-item>
          <ion-label><p class="Head21">Provinsi</p></ion-label>
          <ion-select [(ngModel)]="provinsi" name="provinsi" (ionChange)="cekProvinsi()" type="text" [ngModelOptions]="{standalone: true}" class="Head2">
            <ion-option value="Provinsi1">Provinsi1</ion-option>
            <ion-option value="Provinsi2">Provinsi2</ion-option>
            <ion-option value="Provinsi3">Provinsi3</ion-option>
            <ion-option value="Provinsi4">Provinsi4</ion-option>
            <ion-option value="Provinsi5">Provinsi5</ion-option>
          </ion-select>
        </ion-item>

        <p class="Warning" ion-text [hidden]="provinsi || submitted == false" color="danger" padding-left>
          Pilih satu
        </p>

        <ion-item>
          <ion-label><p class="Head21">Kota/Kab</p></ion-label>
          <ion-select [(ngModel)]="kota" name="kota" (ionChange)="cekKota()" type="text" [ngModelOptions]="{standalone: true}" class="Head2">
            <ion-option value="Kota/Kab1">Kota/Kab1</ion-option>
            <ion-option value="Kota/Kab2">Kota/Kab2</ion-option>
            <ion-option value="Kota/Kab3">Kota/Kab3</ion-option>
            <ion-option value="Kota/Kab4">Kota/Kab4</ion-option>
            <ion-option value="Kota/Kab5">Kota/Kab5</ion-option>
          </ion-select>
        </ion-item>

        <p class="Warning" ion-text [hidden]="kota || submitted == false" color="danger" padding-left>
          Pilih satu
        </p>

        <ion-item>
          <ion-label><p class="Head21">Kecamatan</p></ion-label>
          <ion-select [(ngModel)]="kecamatan" name="Kecamatan" (ionChange)="cekKecamatan()" type="text" [ngModelOptions]="{standalone: true}" class="Head2">
            <ion-option value="Kecamatan1">Kecamatan1</ion-option>
            <ion-option value="Kecamatan2">Kecamatan2</ion-option>
            <ion-option value="Kecamatan3">Kecamatan3</ion-option>
            <ion-option value="Kecamatan4">Kecamatan4</ion-option>
            <ion-option value="Kecamatan5">Kecamatan5</ion-option>
          </ion-select>
        </ion-item>

        <p class="Warning" ion-text [hidden]="kecamatan || submitted == false" color="danger" padding-left>
          Pilih satu
        </p>-->

        <ion-item>
        <ion-textarea class="Head3"  [(ngModel)]="address" name="address" type="text" #alamat="ngModel" placeholder="Alamat Pengambilan Barang" required autosize>
        </ion-textarea>
        </ion-item>

        <p class="Warning" ion-text [hidden]="alamat.valid || submitted == false" color="danger" padding-left>
          Alamat pengambilan harus diisi
        </p>
        
        <ion-item class="Konten1">
          
          <ion-label stacked><p class="Head">Deskripsi Barang</p></ion-label>
          <ion-textarea class="Head2" [(ngModel)]="description" name="description" type="text" #deskripsi="ngModel" placeholder="Berikan Deskripsi barang yang akan didonasikan" spellcheck="false" autocapitalize="off"
            autosize text-wrap required>
          </ion-textarea>
        

        <!--<ion-label stack class="Head">Deskripsi Barang</ion-label>
          <ion-textarea class="Head2"  [(ngModel)]="description" name="description" type="text" #deskripsi="ngModel" required autosize>
        </ion-textarea>-->
        </ion-item>

        <p class="Warning" ion-text [hidden]="deskripsi.valid || submitted == false" color="danger" padding-left>
          Deskripsi barang harus diisi
        </p>

        <div>
          <button [hidden]="image1" class='Button' color="AyoDermawan" ion-button outline block (click)='updatePicture1()'><p class="ButtonWordBlue">Unggah Foto</p></button>
          
          <p class="Warning" ion-text [hidden]="image1 || submitted == false" color="danger" padding-left>
          Unggah foto barang yang akan di lelang
          </p>
          
            <img [src]="image1" *ngIf="image1" class="Pict" (click)="updatePicture1()"/>
          
          <button [hidden]="gambar1 || image2" class='Button' color="AyoDermawan" ion-button outline block (click)='updatePicture2()'><p class="ButtonWordBlue">Unggah Foto Lagi</p></button>
          
            <img [src]="image2" *ngIf="image2" class="Pict" (click)="updatePicture2()"/>

          <button [hidden]="gambar2 || image3" class='Button' color="AyoDermawan" ion-button outline block (click)='updatePicture3()'><p class="ButtonWordBlue">Unggah Foto Lagi</p></button>

            <img [src]="image3" *ngIf="image3" class="Pict" (click)="updatePicture3()"/>
        
          <button class='Button' color="AyoDermawan" ion-button block (click)='OpenItemBarang(lelangForm)'><p class="ButtonWord">Lanjut</p></button>
        
        </div>
        
      </form>
</ion-content>