<ion-header>

  <ion-navbar color="AyoDermawan">
    <ion-title>Riwayat Donasi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-slides pager>

  <ion-slide>
    <img src="assets/pict/BarangBiru.png" *ngIf="!data.image1" class="Gambar"/>
    <img [src]="data.image1" *ngIf="data.image1" class="Gambar"/>  </ion-slide>

  <ion-slide>
    <img src="assets/pict/BarangBiru.png" *ngIf="!data.image2" class="Gambar"/>
    <img [src]="data.image2" *ngIf="data.image2" class="Gambar"/>  </ion-slide>

  <ion-slide>
    <img src="assets/pict/BarangBiru.png" *ngIf="!data.image3" class="Gambar"/>
    <img [src]="data.image3" *ngIf="data.image3" class="Gambar"/>  </ion-slide>

</ion-slides>

  <ion-item text-wrap>
    <ion-thumbnail item-left>
      <img src="assets/pict/DonaturIconSmall.png"/>
    </ion-thumbnail>
    <p class="Head">Nama Donatur</p>
    <p class="Konten">{{barang.nama_donatur}}</p>
  </ion-item>

  <ion-item text-wrap>
    <ion-thumbnail item-left>
      <img src="assets/pict/TeleponBiru.png"/>
    </ion-thumbnail>
    <p class="Head">Nomor Telepon</p>
    <p class="Konten">{{barang.telephone}}</p>
  </ion-item>

  <ion-item text-wrap>
    <ion-thumbnail item-left>
      <img src="assets/pict/BarangBiru.png"/>
    </ion-thumbnail>
    <p class="Head">Nama Barang</p>
    <p class="Konten">{{barang.nama}}</p>
  </ion-item>

  <ion-item text-wrap>
    <ion-thumbnail item-left>
      <img src="assets/pict/ListBiru.png"/>
    </ion-thumbnail>
    <p class="Head">Kategori</p>
    <p class="Konten">{{barang.kategori}}</p>
  </ion-item>

  <ion-item text-wrap>
    <ion-thumbnail item-left>
      <img src="assets/pict/PetaBiru.png"/>
    </ion-thumbnail>
    <p class="Head">Alamat Pengambilan</p>
    <p class="Konten">{{barang.address}}</p>
  </ion-item>
  
</ion-content>
