
<ion-header>

  <ion-navbar color="AyoDermawan">
    <ion-title></ion-title>
    <ion-searchbar color="ayoDermawan" (ionInput)="getItems($event)"></ion-searchbar>
    <!--<ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>-->
  </ion-navbar>
  
</ion-header>

<ion-content>

  <!--<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tarik untuk memperbaharui"
      refreshingSpinner="circles"
      refreshingText="Memperbaharui...">
    </ion-refresher-content>
  </ion-refresher>-->

  <ion-fab bottom right >
    <button color="AyoDermawan" ion-fab mini (click)="tambahLelang()"><ion-icon  name="md-add"></ion-icon></button>
  </ion-fab>
  

  <ion-grid>

    
    <ion-row >
      <ion-col col-6 (tap)="OpenItem(data)" *ngFor="let data of lelang">
        <ion-card>
          <img src="assets/pict/BarangBiru.png" *ngIf="!data.image" class="Item"/>
          <img [src]="data.image1" *ngIf="image" class="Item"/>
          <ion-card-content>
            <p class="JudulItem">{{data.nama}}</p>
            <p class="HargaItem">
              Rp. {{data.price}}
            </p>
          </ion-card-content>
        </ion-card>    
      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>