page-donatur-home {
    .Item {
        height: 36vw; 
        width: 36vw; 
        display: block; 
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 2vw;       
    }
    .JudulItem {
        padding-left: 1vw;
        font-size: 4.5vw;
        font-weight: bold;
        height: 11vw;
    }
    .HargaItem {
        padding-left: 1vw;
        font-size: 4.5vw;
        height: 6vw;
        color: #f53d3d;
    }
}
